<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>A template is a track (or group) of annotations that can be applied to multiple projects. Templates can be used to quickly apply identical annotations to multiple videos with one click.</p>
    <p>Multiple template tracks can be added to a project. If the template track is updated, Brightcove Interactivity will automatically update all projects using the template.</p>
  </section>
  <section class="bcls-section">
    <h2 id="tags">Applying templates using tags</h2>
    <p>Tags can be added to templates as a way to quickly add annotations to videos that are published using an Interactivity-enabled player. If a published video has the same tag that was assigned to the template, the template annotations will be applied. This is a quick and easy way to add the same annotations to dozens or hundreds of videos.</p>
    <p>Follow these steps to use a tag to apply a template to a published video.</p>
    <ol class="bcls-tasklist-restart">
      <li>Login to Video Cloud Studio.</li>
      <li>Open the <strong>Interactivity</strong> module.</li>
      <li>In the left navigation, click <strong>Templates</strong> &gt; <strong>All templates</strong>.</li>
      <li>Click a template <strong>Title</strong> or click the action menu (...) associated with the template and click <strong>View</strong>.</li>
      <li>Click <span class="button-blue-text-bordered">Settings</span>.</li>
      <li>Locate the <strong>Apply Templates to Projects by Tag</strong> field and click it.</li>
      <li>Add one or more <strong>Tags</strong>. Press enter after each tag.
        <figure class="bcls-figure"><img src="/assets/images/s-brightcove-interactivity-img/templates/applying-templates/tags-added.png"></figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
    <p>By adding the tag <code>company_logo</code> to the template, any video that is tagged <code>company_logo</code> and published using an Interactivity-enabled player will have the template annotations applied. Follow these steps to tag and publish a sample Video Cloud video.</p>
    <aside class="bcls-aside bcls-aside--information language-editable">Please note that if a video has already been added to a project, it is not possible to generate a new project by adding the template tag to the video using the media module.</aside>
    <ol class="bcls-tasklist-restart">
      <li>Login to Video Cloud Studio.</li>
      <li>Open the <strong>Media</strong> module.</li>
      <li>Click on a video <strong>Name</strong> to open the video properties page.</li>
      <li>In the Video Information panel, click <span class="button-blue-text-bordered"> <i data-feather="edit-3"></i> Edit</span>.</li>
      <li>Add the same tag that was used to tag the template.
        <figure class="bcls-figure"><img src="/assets/images/s-brightcove-interactivity-img/templates/applying-templates/video-tagged.png"></figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
      <li>Publish the video using an Interactivity-enabled player.
        <aside class="bcls-aside bcls-aside--information language-editable">Note: You must enable the Interactivity plugin for the Brightcove Player to create projects when adding a tag to the video. For information on creating an Interactivity-enabled player, see <a href="/interactivity/getting-started/configuring-player-plugin.html">Configuring a Brightcove Player with the Interactivity Plugin</a>.</aside>
      </li>
      <li>Play the video and confirm that the annotation(s) appear.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="all-projects">Applying templates to all projects</h2>
    <p>Adds the template to every project on the account, regardless of tags. </p>
    <p>Follow these steps to apply a template to all projects on the account.</p>
    <ol class="bcls-tasklist-restart">
      <li>Login to Video Cloud Studio.</li>
      <li>Open the <strong>Interactivity</strong> module.</li>
      <li>In the left navigation, click <strong>Templates</strong> &gt; <strong>All templates</strong>.</li>
      <li>Click a template <strong>Title</strong> or click the action menu (...) associated with the template and click <strong>View</strong>.</li>
      <li>Click <span class="button-blue-text-bordered">Settings</span>.</li>
      <li>Locate the <strong>Apply to all projects</strong> switch.</li>
      <li>Turn on <strong>Apply to all projects</strong> switch.</li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="manual">Manually applying a template to a project</h2>
    <p>It is also possible to manually apply one or more templates to a project. To manually apply a template to a project, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Login to Video Cloud Studio.</li>
      <li>Open the <strong>Interactivity</strong> module.</li>
      <li>Click a project <strong>Title</strong> or click the action menu (...) associated with the project and click <strong>View</strong>.</li>
      <li>Click <span class="button-blue-text-bordered">Settings</span>.</li>
      <li>Click <span class="button-blue-text-bordered"><i data-feather="plus-square"></i> Add Templates</span>.</li>
      <li>Select one or more templates to apply to the project.
        <figure class="bcls-figure"> <img src="/assets/images/s-brightcove-interactivity-img/templates/applying-templates/select-template.png"> </figure>
      </li>
      <li>Click <span class="button-blue">Apply</span>.</li>
      <li>Confirm that the selected templates  appear on the project settings dialog.
        <figure class="bcls-figure"> <img src="/assets/images/s-brightcove-interactivity-img/templates/applying-templates/templates-added.png"> </figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="remove">Removing a template from a project</h2>
    <p>To remove a template from a project, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Interactivity</strong> module.</li>
      <li>Click a project <strong>Title</strong> or click the action menu (...) associated with the project and click <strong>View</strong>.</li>
      <li>Click <span class="button-blue-text-bordered">Settings</span>.</li>
      <li>Hover over the template and click the remove icon.
        <figure class="bcls-figure"> <img src="/assets/images/s-brightcove-interactivity-img/templates/applying-templates/remove-template.png"> </figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
  </section>
</article>
