<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>A template is a group of annotations that can be applied to multiple projects. Templates can be used to quickly apply identical annotations to multiple videos with one click.</p>
    <p>Multiple templates  can be added to a project. If the template  is updated, Brightcove Interactivity will automatically update all projects using the template. Templates are useful for any features that should be added to a large number of videos. Some typical use cases for templates are:</p>
    <ul>
      <li>Adding a logo to all of the company videos</li>
      <li>Adding a "skip-ahead" button to a series of videos that have the same pattern</li>
      <li>Adding a call to action to all videos with a similar subject</li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="create">Creating a new template</h2>
    <ol class="bcls-tasklist-restart">
      <li>Login to Brightcove Interactivity Studio.</li>
      <li>In the primary navigation, click <strong>Create</strong> and then <span class="button-blue-text-bordered">NEW TEMPLATE</span> or click <strong>Manage</strong>, click the <strong>Templates</strong> tab and then click <span class="button-blue">New Template</span>. </li>
      <li>Enter a <strong>Title</strong> for the template.
        <figure class="bcls-figure"> <img src="/assets/images/s-brightcove-interactivity-img/platform/templates/creating-templates/new-template-dialog.png"> </figure>
      </li>
      <li>Click <span class="button-blue">NEXT</span>.</li>
      <li>Brightcove Interactivity automatically loads a sample video source. You can change this video by clicking <strong>Configure</strong> and by entering a new URL in the <strong> Video Source</strong> field.</li>
      <li>Add the appropriate annotations.
        <aside class="bcls-aside bcls-aside--tip language-editable">Tip: If you set the start time to -20, the annotation will appear 20 seconds before the end of the video. This means it will dynamically adjust for every project the template is applied to. Likewise, 25% will set the start time to 25% of the way into the video, no matter the length.</aside>
      </li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="apply">Applying a template to a project</h2>
    <p>Templates can be applied to a project through the use of tags or by manually assigning one or more templates to a project using Brightcove Interactivity Studio. For information, see <a href="{{ site.interactivity_prefix }}platform/templates/applying-templates-projects.html">Applying Templates to Projects</a>.</p>
  </section>
  <section class="bcls-section">
    <h2 id="copy">Copying templates</h2>
    <p>On the list of templates, hover over the right side of the template and click the copy icon (<img src="/assets/images/s-brightcove-interactivity-img/platform/templates/icon-copy.png">). </p>
    <figure class="bcls-figure"> <img src="/assets/images/s-brightcove-interactivity-img/platform/templates/creating-templates/templates-list.png"> </figure>
    <p>This will create an exact clone of the template including all annotations, tags, and custom CSS, titled "Copy of {template_name}".</p>
    <p>This is a great way to save time when creating new templates that are similar to ones already created. Simply adjust the annotations as needed. </p>
  </section>
  <section class="bcls-section">
    <h2 id="delete">Deleting templates</h2>
    <p>To delete a template, find the template on the template list, click the delete icon (<img src="/assets/images/s-brightcove-interactivity-img/platform/templates/icon-x.png">), and then confirm the deletion.</p>
  </section>
</article>