---
title: Demos
parent: Home
description: This section contains interactivity demos.
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section>
    <aside class="bcls-aside bcls-aside--information language-editable">Note: This topic applies to the legacy version of Brightcove Interactivity (HapYak).  Click <a href="https://studio.support.brightcove.com/interactivity/index.html">here</a> for the new documentation.</aside>
    <h3 id="Topics_in_this_section">Topics in {{ page.title }}</h3>
    <ul class="bcls-topic-list">
      {% for item in site.data.navigation %}
        {% if item.name == page.title %}
          {% for doc in item.docs %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
</article>